<!--
MS^2
Matthew Ming, Sajed Nahian. Stefan Tan, Michelle Tang
SoftDev1 pd6
P #00: Da Art of Storytellin'
-->
<!DOCTYPE html>
<html>
  <head>
    <title>{% block header %}{% endblock %}</title>
  </head>
  <body>
	<a href="/">Feed</a>
	<a href="/search">Search</a>
	<a href="/edit">Edit</a>
	<a href="/new">New Blog</a>
<form action = "/logout">
	<input type = "submit" value="Logout"> 
</form>
<h1>{% block title %} {% endblock %}</h1>
{% block content %}{% endblock %}
{% block footer%} &copy MS^2{% endblock %}
  </body>
</html>
