{% extends "base.html"%}
{% block header %}
Edit
{% endblock %}
{% block title %}
Editing
{% endblock %}
{% block nav %}
<a href="/">Feed</a>
	<a href="/search">Search</a>
	<a href="/edit">Edit</a>
	<a href="/newblog">New Blog</a>
	<a href="/newentry">New Entry</a>
	<form action = "/logout">
		<input type = "submit" value="Logout"> 
</form>
{% endblock %}
{% block content %}
	<form action="/save" method="POST">
		<input type="number" name="entryId" value={{idEntry}} readonly hidden>
		<h3>Title</h3><input type="text" name="title" value="{{title}}"><br>
		<h3>Content:</h3><textarea name="body" cols="40" rows="5">{{body}}</textarea><br>
		<input type="submit" value="Save">
	</form>
{% endblock %}
