{% extends "base.html"%}
{% block header %}
New Blog
{% endblock %}
{% block title %}
Create New Blog
{% endblock %}
{% block nav %}
<a href="/">Feed</a>
	<a href="/search">Search</a>
	<a href="/edit">Edit</a>
	<a href="/newblog">New Blog</a>
	<a href="/newentry">New Entry</a>
<h3>Logged is as {{username}}</h3>
	<form action = "/logout">
		<input type = "submit" value="Logout"> 
	</form>
{% endblock %}
{% block content %}
<form action="/createNewBlog" method="POST">
	<input type="text" name="blogName" placeholder="Blog title"><br>
	<input type="submit" value="Create Blog">
</form>
{% if articles %}
{% for key in articles%}
	<h3>{{key}}</h3>{{articles[key]}}
	<br>
	<hr>
{% endfor %}
{% endif %}
{% endblock %}
