{% extends "base.html"%}
{% block header %}
Search
{% endblock %}
{% block title %}
Search
{% endblock %}
{% block nav %}
<a href="/">Feed</a>
	<a href="/search">Search</a>
	<a href="/edit">Edit</a>
	<a href="/newblog">New Blog</a>
	<a href="/newentry">New Entry</a>
<h3>Logged is as {{username}}</h3>
	<form action = "/logout">
		<input type = "submit" value="Logout">
	</form>
{% endblock %}
{% block content %}
<form action="/search">
	<input type="text" name="searchQuery" placeholder="blog title">
	<input type="submit" value="Submit">
</form>
{% for i in range(0, keys|length) %}
	<a href="/viewPage?entryId={{keys[i]}}"><h3>{{titles[i]}}</h3></a>
	<p>{{bodies[i]}}</p>
{% endfor %}
{% endblock %}
