{% extends "base.html"%}
{% block header %}
Sign Up
{% endblock %}
{% block title %}
Sign Up
{% endblock %}
{% block content %}
{% set msgs = get_flashed_messages() %}
{% for each in msgs %}
{{each}}
<br>
{% endfor %}
	<form action = "/createaccount" method="POST">
		<input type = "text" name = "username" placeholder="username" minlength="4" maxlength="10" required><br>
		<input type = "password" name = "password" placeholder="password" minlength="4" maxlength="10" required><br> 
		<input type = "password" name = "passwordConfirmation" placeholder="retype password" minlength="4" maxlength="10" required> <br>
		<input type = "submit" value="Create Account"> 
	</form>
	<a href="/login">Sign In</a><br><br>
{% endblock %}